@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: rgb(230, 233, 236);
}

/* Container*/

.header-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.555);
}

.search-bar {
    margin: 20px;
}

.objects {
    display: flex;
}

.card {
    margin: 10px 30px;
}

.category-title {
    margin: 0px 10px 10px 10px;
}